.comment
{
    display: flex;
    flex-direction: row;
}
.comment .photo-com
{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-top: 20px;
    padding-left: 20px; 
}
.comment .photo-com .image
{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.com-user
{
    width: 45%;
    margin : 30px 10px 20px;
}
.talkbubble {
    
    max-height: min-content;
    background: #d3ffee93;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border : #59febc 1px solid;
    padding: 10px;
}
.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #59febc8c;
    border-bottom: 8px solid transparent;
}
.old
{
    overflow: auto;
}
.msg
{
    display: flex;
    flex-direction: row;
}
.time
{
    float: right;
    color: rgb(185, 185, 185);
}
textarea
{
    width: 100%;
    border-radius: 10px;
    border-color: #e2cb46;
    background-color: #fffff7;
    font-family: monospace;
    font-size: 12px;
    resize: none;
    padding: 10px;
    margin-top: 5px;
}
textarea:focus:valid{
    outline: none;
    box-shadow: none;
}
#button
{
    position: absolute;
    bottom: 5px;
    right: 5;
    border: none;
    color: #e2cb46;
    font-family: monospace;
    font-size: 12px;
    cursor: pointer;
    background-color: #fffff7;
}
#button:focus:valid{
    outline: none;
    box-shadow: none;
}
.com-user form
{
    position: relative;
}
label
{
    color: #e2cb46;
}