.comment
{
    display: flex;
}
.comment .com-user
{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px; 
}
.comment .com-user .image
{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.talkbubble {
    width: 45%;
    max-height: min-content;
    background: #d3ffee93;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border : #59febc 1px solid;
    margin : 30px 10px 20px;
    padding: 10px;
}
.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #59febc8c;
    border-bottom: 8px solid transparent;
}
.old
{
    overflow: auto;
}
.msg
{
    display: flex;
    flex-direction: row;
}
.time
{
    float: right;
    color: rgb(185, 185, 185);
}
textarea
{
    width: 80%;
    height: 10%;
}