.galery
{
    padding: 20px 30px 20px;
}
.galery form[name=nbitem_pg]
{
    margin-bottom: 60px;
}


.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-rows: 20px;
  }
/*
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    position: relative;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1700px) {
    .responsive {
        width: 33.33333%;
    }
}

@media only screen and (max-width: 1200px) {
    .responsive {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 715px) {
    .responsive {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .responsive {
        width: 312px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.galery .responsive .pince
{
    width:50;
    position: absolute;
    left:25px;
    top: -40px;
}*/


.content_item
  {
      padding: 10px 10px 10px;
  }
.item_photo{
    padding: 0 6px;
    border: 1px solid #ccc;
}
  .item_photo:hover {
    border: 1px solid #777;
}
  .item_photo {
    background-color: #ffffff;
  }
  
  figure{
    width: 100%;
    margin: unset;
  }
  figure figcaption {
    font-size: .9rem;
      color: #444;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    background-color: white;
  }
  figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }


.desc
{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 10px;
}
div.nblike
{
    color:#ee2e87;
}
div.nbcom
{
    color:#308568;
}
.desc .vide
{
    flex-grow: 5;
}
.desc .action
{
    margin-left: 10px;
}
.desc .action form button
{
    border:none; 
    padding: unset; 
}
.desc .action form button img
{
    width: 30; 
    cursor: pointer;
}
.desc .nb
{
    text-align: left;
}