.galery
{
    padding: 20px;
}
.galery form[name=nbitem_pg]
{
    margin-bottom: 60px;
}



.grid
{
    display: flex;
    flex-direction: row;
    /* height a calculer en js */
}
/* calcul des positions en js */
/*.grid :nth-child(1)
{
    order: 5;
}
.grid :nth-child(5)
{
    order: 7;
}
.grid :nth-child(8)
{
    order: 1;
}*/

/*
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-rows: 20px;
  }



*/
/*
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    position: relative;
    margin-bottom: 50px;
}
*/
.column
{
    margin: 0 10px 0;
}
@media only screen and (max-width: 5000px) {
    .column {
        width: 35%;
    }
}
@media only screen and (max-width: 1700px) {
    .column {
        width: 33%;
    }
}

@media only screen and (max-width: 1315px) {
    .column {
        width: 50%;
    }
}

@media only screen and (max-width: 715px) {
    .column {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .column {
        width: 360px;
    }
}
/*
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.galery .responsive .pince
{
    width:50;
    position: absolute;
    left:25px;
    top: -40px;
}*/


.content_item
  {
      padding: 12px 12px 12px;
  }
.item_photo{
    margin-bottom: 60px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    position: relative;
}
.item_photo:hover {
    border: 1px solid #777;
}
.item_photo:before {
    content:"";
    display:inline-block;
    width:50px;
    height:59px;
    position: absolute;
    top: -45px;
    left: 10px;
    background:url("../img_site/pince.png") no-repeat;
    background-size:100%;
}
figure{
    width: 100%;
    margin: unset;
}
figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    background-color: white;
}
figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}


.desc
{
    /* a revoir parce que ca ne fonctionne plus */
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0px 15px 0;
}
div.nblike
{
    color:#ee2e87;
}
div.nbcom
{
    color:#308568;
}
.desc .vide
{
    flex-grow: 5;
}
.desc .action
{
    margin-left: 12px;
}
.desc .action form button
{
    border:none; 
    padding: unset; 
}
.desc .action form button img
{
    width: 30; 
    cursor: pointer;
}
.desc .nb
{
    text-align: left;
}
small
{
    font-size: 90%;
}