.grid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content_item
  {
      padding: 5;
  }
.item_photo{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    position: relative;
    max-width: 210;
}
.item_photo:hover {
    border: 1px solid #777;
}

figure{
    width: 100%;
    margin: unset;
}
figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
    text-align: center;
    background-color: white;
}
figure .my_photo {
    width: 200; 
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
small
{
    font-size: 90%;
}

.action {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(127, 255, 212, 0.76);
    opacity: 0;
    padding: .5em;
    text-align: center;
    padding-top: 10;
}

.img_action {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-bottom: 15;
}
.action img {
    height: 40%;
    max-height: 68;
}
figure:hover .action {
    opacity: 1;
}

.img_action:hover {
    transform: scale(1.2);
}