.contentarea {
  font-size: 16px;
  font-family: monospace;
  padding: 10px 20px 10px;
}

.flex-items {
  display: flex;
}

.flex-items form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: block;
  margin: 12px;
  cursor: pointer;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	outline: 0;
}

.container input {
  display: none;
}

.container img{
  width: 70px; 
  height: auto;
  border: 4px solid transparent;
}

.container input:checked ~ img{
  background-color: aquamarine;
  border-radius: 20px;
  border: 4px solid aquamarine;
}

.container:hover input ~ img {
  background-color: #ccc;
  border-radius: 20px;
  border: 4px solid #ccc;
}

span{
  width: 70;
}

/* On mouse-over, add a grey background color 
.container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background 
.container input:checked ~ .checkmark {
  background-color: aquamarine;
}*/

/* Create the checkmark/indicator (hidden when not checked) 
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}*/

/* Show the checkmark when checked 
.container input:checked ~ .checkmark:after {
  display: block;
}*/

/* Style the checkmark/indicator 
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
.take_photo{
  padding-top: 16px;
}
.camera {
  height: 244;
  display:inline-block;
  font-family: monospace;
  position: relative;
  margin-left: 20;
  margin-bottom: 30;
}
#video {
  border: 2px solid black;
  width:320px;
  height:240px;
}
.canvas_vid
{
  position: absolute;
  top: 2;
  left: 2;
  width: 320;
  height: 240;
}

#photo {
  border: 2px solid black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}



.filtre
{
  position: absolute;
  width: 70px;
}
#filtre_chapka, #filtre_couronne
{
  top: 0;
  left: 35%;
  width: 100;
}
#filtre_glasses
{
  left: 40%;
  top: 30%;
}
#filtre_chain
{
  left: 40%;
  top: 47%;
}
#filtre_canard
{
  left: 5;
  bottom: 10;
}
#filtre_suit
{
  bottom: 25;
  left: 11%;
  width: 250;
}


#startbutton {
  display:block;
  position:absolute;
  left: 225;
  top: 655;
  margin-left:auto;
  margin-right:auto;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-family: monospace;
  color: black;
}

.flex-container > div {
  /*background-color: DodgerBlue;
  color: white;
  width: 300px;
  height: 400px;
  margin: 0px;*/
  padding: 20px;
  /*text-align: left;
  line-height: 50px;
  font-size: 30px;
  flex-grow: 1;
  font-family: monospace;
  color: var(--light-txt-color);
  background-color: var(--dark-bg-color);
  background-position: center;*/ /* Center the image */
  /*background-repeat: no-repeat;  Do not repeat the image
  background-size: cover; */
}

.output {
  display:inline-block;
}

