.contentarea {
  font-size: 16px;
  font-family: monospace;
  padding: 10px 20px 10px;
}
.montage_page {
  display: flex;
}

.flex-items {
  display: flex;
  height: 570px;
}

.flex-items form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: block;
  margin: 12px;
  cursor: pointer;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	outline: 0;
}

.container input {
  display: none;
}

.container img{
  width: 70px; 
  height: auto;
  border: 4px solid transparent;
}

.container input:checked ~ img{
  background-color: aquamarine;
  border-radius: 20px;
  border: 4px solid aquamarine;
}

.container:hover input ~ img {
  background-color: #ccc;
  border-radius: 20px;
  border: 4px solid #ccc;
  transform: scale(1.2);
}

.take_photo{
  margin: 16 20 16;
}
.camera {
  height: 244;
  display:inline-block;
  font-family: monospace;
  position: relative;
}
#video {
  border: 2px solid black;
  width:320px;
  height:240px;
}
.canvas_vid
{
  position: absolute;
  top: 2;
  left: 2;
  width: 320;
  height: 240;
}

#photo {
  border: 2px solid black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}



.filtre
{
  position: absolute;
  width: 70px;
}
#filtre_chapka, #filtre_couronne
{
  top: 0;
  left: 35%;
  width: 100;
}
#filtre_glasses
{
  left: 40%;
  top: 30%;
}
#filtre_chain
{
  left: 40%;
  top: 47%;
}
#filtre_canard
{
  left: 5;
  bottom: 10;
}
#filtre_suit
{
  bottom: 25;
  left: 11%;
  width: 250;
}

#button1 {
  text-align: center;
  height: 50;
}

#button2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20;
}

#startbutton {
  margin-top: 4%;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-family: monospace;
  color: black;
  cursor: pointer;
}

#descr {
  font-size: 13px;
  font-family: monospace;
  height: 30;
}

#register {
  margin-top: 4%;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-family: monospace;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.output {
  display:inline-block;
}

.galery_pict {
  margin: 0 20 20 0;
  padding-left: 20;
  border-left: 2px solid #308568;
}

.upload {
  margin-bottom: 20;
}

.upl_file {
  /*display: none;*/
}

.regist {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-family: monospace;
  color: black;
  cursor: pointer;
  width: fit-content;
}

