body
{
    font-family: monospace;
}
.icones 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icones a 
{
    transition: all 0.3s ease-out;
    text-align: center;
}
.icones a img{
    width: 50;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}
.icones a h3
{
    visibility: hidden;
}
.lien_logo
{
    text-align: center;
}
.logo
{
    width: 200;
    margin: 20px 0px 40px;
}
.icones a:hover,
.icones a:focus {
    transform: scale(1.2);
}

.icones a:hover + h3
{
    visibility: visible;
}