body
{
    font-family: monospace;
}

ul
{
    text-align: center;
    padding: unset;
}
li 
{
    display: inline;
}
li a 
{
    display: inline-block;
    transition: all 0.3s ease-out;
}
li a img{
    width: 50;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}
table
{
    margin: auto;
}
tr td a
{
    transition: all 0.3s ease-out;
}
tr td a img
{
    width: 50;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}
span
{
    visibility: hidden;
}
.lien_logo
{
    text-align: center;
}
.logo
{
    width: 200;
    margin: 20px 0px 40px;
}
.icones a:hover,
.icones a:focus + span {
    transform: scale(1.2);
    visibility: visible;
}