section
{
    background-image: url("img_site/points.png"), 
    linear-gradient(to top, #fff5ba, #fef8c7, #fefad5, #fefde2, #ffffef);
    background-position: top, left;
    background-repeat: repeat, no-repeat;
    background-size: 10%, 100%;
    border-radius: 20px;
    margin-top: 8px;
}
.header
{
    background-image: linear-gradient(to bottom, #59febc, #89ffce, #b0ffdf, #d3ffee, #f5fffb);
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    padding-bottom: 80px;
}
.icones-left
{
    display: flex;
    flex-basis:40%;
    justify-content:flex-end;
    text-align: center;
    text-decoration:none;
}
.logo
{
    display: flex;
    flex-basis:auto;
    text-align: center;
    text-decoration:none;
}
.icones-right
{
    display: flex;
    flex-basis:40%;
    justify-content:flex-start;
    text-align: center;
    text-decoration:none;
}
.logo a img
{
    width: 200;
    margin: 20px 0px -20px;
}
div a img
{
    width: 50;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}
.photo img
{
    margin-top: 10px; 
}
.header div a
{
    text-decoration:none;
}
.header div a h4
{
    visibility: hidden;
    align-self: center;
    width: 50px;
    height: 0px;
    margin: 0;
    color: #266953;
}
.icones-right .account .compte img
{
    width: 50;
    height: 50;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 30px;
}
.icones-right .account .compte
{
    display: flex;
}
.icones-right .name
{
    margin: auto 10px auto;
    font-size: 150%;
    color: #266953;
    font-weight: bold;
}
.header div a:hover,
.header div a:focus {
    transform: scale(1.2);
    visibility: visible;
}
.header div a:hover h4
{
    visibility: visible;
    margin: 5px auto -5px;
    width: 100px;
}
.header .logo a:hover h4
{
    visibility: visible;
    margin: 30px auto -30px;
    width: 100px;
}