body
{
    font-family: monospace;
}
html
{
    background-color: blue;
}
.header
{
    background-image: linear-gradient(to bottom, #59febc, #89ffce, #b0ffdf, #d3ffee, #f5fffb);
    border-radius: 20px;
    height: 280px;
}
.icones 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icones a 
{
    transition: all 0.3s ease-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration:none;
}
.icones a img
{
    width: 50;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
}
.icones a h4
{
    visibility: hidden;
    align-self: center;
    width: 50px;
    height: 0px;
    margin: 0;
    color: #266953;
}
.lien_logo
{
    text-align: center;
}
.logo
{
    width: 200;
    margin: 10px 0px 20px;
}
.icones a:hover,
.icones a:focus {
    transform: scale(1.2);
}

.icones .photo:hover h4, .icones .settings:hover h4, .icones .sign:hover h4
{
    visibility: visible;
    margin: 5px auto 0px;
    width: 100px;
}
.icones .home:hover h4, .icones .login:hover h4
{
    visibility: visible;
    margin: 5px auto 0px;
}