.login-div
{
	display: flex;
	margin-top: 8px;
	justify-content: flex-end;
    padding: 12px;
    border-radius: 20px;
    /*background-image: linear-gradient(to top, #ffcceb, #ffd8f0, #ffe4f5, #fff0fa, #fffcfe);*/
    background-image: linear-gradient(to top, #fff0de, #fff3e5, #fff6ec, #fff9f2, #fffcf9);
}
.login-div form button
{
    width: 140px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: /*#e78fc4*/ #c0a079;
    font-family: monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
}
.login-div form input
{
    float: left;
    width: 140px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #9e7b902f;
    font-family: monospace;
    font-size: 14px;
    line-height:30px;
}